<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 创建action的bean，这里的scope要设置为prototype -->
	<bean id="test" class="edu.cug.action.TestAction" scope="prototype"></bean>

</beans>
